body {
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
    background: grey;
    padding: 50px;
}

/*.bmo {
    position: relative;
	width: 500px;
    height: 700px
}
.bmoTop {
    background: #2cbeb3;
    height: 654px;
    width: 454px;
    position: absolute;
    transform: skew(-2deg) translate(10px, -20px);
}
.bmoSide {
    background: #458b83;
    height: 654px;
    width: 454px;
    position: absolute;
}*/

.container {
    display: flex;
   flex-wrap: wrap; 
   align-content: flex-start;
   justify-content: center;
   gap: 12px;
    height: 600px;
    width: 400px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 25px;
    background:#3da49c;
}

.display {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    border: 2px solid black;
    background: #c1f4d3;
    border-radius: 4px;
    height: 80px;
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 18px;
}

button {
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 45px;
    width: 45px;
    padding: 5px 5px;
}

button:hover {
    cursor: pointer;
    background: grey;
    transition: 0.07ms;
}

.allClear {
    flex-basis: 80.5%;
}

.digit {
    flex-basis: 25%;
}

.zero {
    flex-basis: 80.5%;

}
