body {
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
    background: grey;
    padding: 50px;
}

.container {
    display: flex;
   flex-wrap: wrap; 
   align-content: flex-start;
   justify-content: center;
   gap: 12px;
    height: 600px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 25px;
    background:#3da49c;
}

.display {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    border: 2px solid black;
    background: #c1f4d3;
    border-radius: 4px;
    height: 80px;
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 18px;
}

button {
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 45px;
    width: 45px;
    padding: 5px 5px;
}

button:hover {
    cursor: pointer;
    background: grey;
    transition: 0.07ms;
}

.allClear {
    flex-basis: 66.5%;
    background: #002b2a;
    color: #197774;
}

#backspace {
    background:#000892;
    color:#505bf4;
    border-radius: 50%;
    margin-left: 30px;
}

.digit {
    flex-basis: 25%;
}

.zero {
    flex-basis: 81%;
}

#add {
    background: #FFD300;
      height: 100px;
      position: relative;
      width: 20px;
      margin-right: 40px;
      margin-left: 30px;
    }
    #add:after {
      background:#FFD300;
      content: "+";
      height: 20px;
      left: -40px;
      position: absolute;
      top: 40px;
      width: 100px;
      border-radius: 5px;
    }
    #add:hover {
        background: #C69704;
    }
    #add:hover::after{
        background: #C69704;
    }

#subtract {
    background: #00a4e0;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 10px;
}
    #subtract:hover {
    background: #0067B7;
}

#multiply {
    background: #00C418;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 10px;
}
#multiply:hover {
    background: #006132;
}

#divide {
    background: #00C418;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 10px;
}

#divide:hover {
    background: #006132;
}

#sign {
    background:#000892;
    color:#505bf4;
    height: 30px;
    width: 70px;
    border-radius:35%;
    margin-top: 10px;
}
#decimal {
    background:#000892;
    color:#505bf4;
    height: 30px;
    width: 70px;
    border-radius:35%;
    margin-top: 10px;
}
.equals {
    background: #f20553;
    font-size: 30px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-left: 80px;
}
.equals:hover{
    background: #a70f42;
}
